[providers]
node = "18"

[phases.setup]
nixPkgs = ["nodejs-18_x"]
cmds = ["npm install -g pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["pnpm --filter api build"]

[start]
cmd = "cd apps/api && pnpm start"
